* {box-sizing: border-box;
    line-height: 1.6;
    font-family: Georgia, 'Times New Roman', Times, serif}
body{  
    margin: 0px;
    padding: 0px;
    background-image: url('../images/texture.jpg');
    color: rgb(46, 46, 46);
    overflow: scroll;
    min-width: 820px;

}
header{
    border-bottom: 2px gray solid;
    background-color: #00352D;
    text-align: center;
    overflow: auto;  
    padding: 10px 10px}


.namebox{
    float: left;
    margin: 0px 0px 0px 90px;
    font-weight: bold;
    font-size: 36px;
   }

.header-right{
    float: right;
    margin: 15px 90px 0px 0px;
    font-size: 24px;
}

header a{
    float: left;
    padding: 10px;
    color: #AD9C70;
    text-decoration: none;
}

header a:hover{
    color: white}

#main{padding:0px 40px 20px 40px;
    margin: 10px 100px;
    background-color:white;
    border: gray solid 1px;}

footer{font-size: 12px;
    margin: 0px 100px 0px 100px;}

#title{border-bottom: darkgray solid 2px;
    margin-left: 0px;
    margin-bottom: 20px;
    height: 50px;}


/* Contact Specific */
textarea{height: 150px;
    width: 100%}
input{width:100%}
#inputboxes{margin: 0px 0px 20px 0px;
    }
button{padding: 5px 40px;
    color: #AD9C70;
    background-color: #00352D;
    border: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    }

#footer{background-color: #00352D;
    position: fixed;
    height: 20px;
    width: 100%;
    bottom: 0px}

